@font-face{
font-family: "Arabic";
src: url("fonts/AligarhArabic.otf") format("opentype");
font-weight: normal;
font-style: normal;
font-display: swap;

}

#main-clarification{
color: #000402; direction: rtl; text-align: center; padding: 20px; font-size: 50px; font-family: Arabic ; border: 20px; border-radius: 10px;
}

#start{
font-size: 30px; direction: rtl;
}

#unknown{
	color: white; text-align: center; padding: 500px;
}

#status{
	font-size: 20px; font-style: italic; border: 1px solid #ddd; border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(180,180,180,1.5); padding: 0px 3px;
}