@font-face{
font-family: "Arabic";
src: url("AligarhArabicLight1.otf") format("opentype");
font-weight: normal;
font-style: normal;
font-display: swap;

}

#main-clarification{
color: #000402; direction: ltr; text-align: center; padding: 20px; font-size: 50px; font-family: Arabic ; border: 20px; border-radius: 10px;
}

#start{
font-size: 28px; direction: rtl;	
}

#unknown{
	color: white; text-align: right; padding: 500px;
}

.button {
  background-color: #4CAF50;         
  padding: 10px 20px;
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}